In [1]:
# Ponemos como ruta principal la carpeta padre de "soluciones"
# para que las rutas relativas queden igual que en la carpeta de notebooks
import paths

# Otras dependencias
import pandas as pd

### Ejercicio

Sobre el siguiente DataFrame, crea dos columnas separadas, una para el importe (que sea float) y otra para la divisa (que sea cadena de texto)

In [17]:
importes = pd.DataFrame({'importe_divisa': ['592,50 EUR', '690,10 USD', '2951 GBP']})
result = map(separate, importes.importe_divisa)

In [20]:
def separate(s): return s.split(' ')
for row in list(result):
    for element in row:
        if(element.isdigit()):
            importes.importe_divisa['importe'] = float(element)
        else:
            importes.importe_divisa['divisa'] = element
print(importes)

  importe_divisa
0     592,50 EUR
1     690,10 USD
2       2951 GBP

### Expresiones regulares

### Ejercicio
Con expresiones regulares, realiza los siguientes ejercicios:

Sobre la cadena '30 del 04 para el 2018', extrae:

* Todos los números de forma independiente. Es decir, resultará una lista con 3, 0, 0, 4, ...
* Todos los números de forma consecutiva. Es decir, resultará una lista con 30, 04, 2018.
* Extrae las palabras de '30 del 04 para el 2018'. Saldrá del, para, ...
* Extrae el último número consecutivo. Saldrá 2018.
* Transfórmala para convertirla a formato ISO (es decir, yyyy-mm-dd)

In [17]:
#Importamos re
import re
#Todos los números de forma independiente
cadena = '30 del 04 para el 2018'
re.findall(r'([0-9]{1})', cadena)

['3', '0', '0', '4', '2', '0', '1', '8']

In [18]:
#Todos los números de forma consecutiva
re.findall(r'[0-9]+', cadena)

['30', '04', '2018']

In [20]:
#Extraemos las palabras
re.findall(r'[a-z]+', cadena)

['del', 'para', 'el']

In [23]:
#Extraemos el último número consecutivo
re.findall(r'(\d+)(?!.*\d)', cadena)

['2018']

In [31]:
#Transformamos la cadena para darle el formato ISO
re.sub(r'([0-3][0-9]).*([0-1][0-9]).*(\d{4})', r' \3-\2-\1 ', cadena)

' 2018-04-30 '

### Listas

#### Ejercicio

Crea una lista que contenga las palabras de `frase` que tengan una longitud de más de 5 caracteres.

In [14]:
frase = 'Estoy en el curso de python para ciencia de datos'
total_palabras = frase.split()
[f'{palabra}' for palabra in total_palabras if len(palabra) >= 5]

['Estoy', 'curso', 'python', 'ciencia', 'datos']

#### Ejercicio

Elimina las vocales de la frase anterior

In [17]:
frase = 'Estoy en el curso de python para ciencia de datos'
vocales = 'aeiou'
sinvocales = ''.join(letra for letra in frase if letra not in vocales)
print(sinvocales)

Esty n l crs d pythn pr cnc d dts

#### Ejercicio

Calcula la lista de los cuadrados de:

In [19]:
lista = [2, 3, 5, 7]
cuadrados = [number * number for number in lista] 
print(cuadrados)

[4, 9, 25, 49]

### Diccionarios

#### Ejercicio

A partir del diccionario `precios_por_distrito`, crea un diccionario donde la clave sea el distrito y el valor, otro diccionario con dos elementos: el precio mínimo (la clave será `minimo`) y el máximo (con clave `maximo`).

In [1]:
import paths
import pandas as pd

venta = pd.read_csv("dat/venta-madrid-distritos.csv", index_col=False)
venta = venta[venta.precio.notnull()]
precios_por_distrito = venta.groupby('distrito').precio.apply(lambda precios: precios.tolist()).to_dict()
{distrito: {'minimo': min(valor), 'maximo': max(valor)} for distrito, valor in precios_por_distrito.items()}

{'Arganzuela': {'minimo': 1920.4065754345897, 'maximo': 3980.43306658443},
 'Barajas': {'minimo': 1661.89030566455, 'maximo': 3730.1779520808},
 'Carabanchel': {'minimo': 1358.55787972897, 'maximo': 3227.6873594259996},
 'Centro': {'minimo': 1857.41441612893, 'maximo': 4987.19887607627},
 'Chamartín': {'minimo': 2523.68801546582, 'maximo': 5028.7606510284495},
 'Chamberí': {'minimo': 2264.7895662852898, 'maximo': 5202.006707450821},
 'Ciudad Lineal': {'minimo': 2006.8859076291199, 'maximo': 3818.3598512111207},
 'Fuencarral': {'minimo': 2047.43064685387, 'maximo': 3920.54885583231},
 'Hortaleza': {'minimo': 2098.2717490201003, 'maximo': 3950.0356215050606},
 'Latina': {'minimo': 1473.8692762737803, 'maximo': 3239.46764244599},
 'Moncloa': {'minimo': 2019.07068648125, 'maximo': 4430.00381720687},
 'Moratalaz': {'minimo': 1672.70935515272, 'maximo': 3391.0740941292997},
 'Puente De Vallecas': {'minimo': 1344.08002441389,
  'maximo': 3138.16619810753},
 'Retiro': {'minimo': 2152.36137617549, 'maximo': 4875.669322096111},
 'Salamanca': {'minimo': 2437.77633210158, 'maximo': 5929.503382679461},
 'San Blas': {'minimo': 1666.29660945609, 'maximo': 3453.60218268776},
 'Tetuán': {'minimo': 2063.82501950686, 'maximo': 3963.97896418851},
 'Usera': {'minimo': 1292.14858687068, 'maximo': 3096.2097085769},
 'Vicálvaro': {'minimo': 1505.91052361511, 'maximo': 3294.3617906114},
 'Villa De Vallecas': {'minimo': 1270.61727331786, 'maximo': 3175.93995680773},
 'Villaverde': {'minimo': 1110.5403031765302, 'maximo': 2867.49730693443}}

### Fechas

#### Ejercicio

Formatea fecha_hora con formato 12 horas en lugar de 24 e indicando si es AM o PM

In [16]:
from datetime import date, datetime
fecha_hora = datetime(2019, 3, 30, 14, 35, 59)
fecha_hora

datetime.datetime(2019, 3, 30, 14, 35, 59)

In [18]:
fecha_hora.strftime('%Y-%m-%d %I:%M:%S %p')

'2019-03-30 02:35:59 PM'

#### Ejercicio

Parsea a fecha:

* `'20/05/2018'`
* `'2018-05-20'`

In [28]:
fecha_primera = datetime.strptime('20/05/2018', '%d/%m/%Y')
fecha_primera

datetime.datetime(2018, 5, 20, 0, 0)

In [29]:
fecha_segunda = datetime.strptime('2018-05-20', '%Y-%m-%d')
fecha_segunda

datetime.datetime(2018, 5, 20, 0, 0)

### Bucles

#### Ejercicio

Usa un bucle que devuelva el mismo resultado que la compresión de lista que ya hemos visto

```
[f'{precio} €' for precio in precios]
```

In [4]:
precios = [2300, 1942, 3455, 4100, 600, 1230]
precios_euros = []
def formatea_precio(precio):
    return str(precio) + ' €'
for precio in precios:
    precios_euros.append(formatea_precio(precio))
print(precios_euros)

['2300 €', '1942 €', '3455 €', '4100 €', '600 €', '1230 €']

### Expresiones condicionales

#### Ejercicio

Construye una función que, dado un precio y un umbral, devuelva la cadena `caro` o `barato` según si el precio está por encima o por debajo del umbral. Crea entonces una columna adicional en `venta` usando como umbral la mediana del precio.

In [16]:
venta['mediana'] = venta.groupby('distrito').precio.transform('median')
def tipo_precio(precio, umbral):
    if umbral > precio:
        return 'barato'
    else: 
        return 'caro'

#### Ejercicio

Usa la función del ejercicio anterior, bucles, etc. para crear una columna adicional en `venta` que indique si el precio de un piso es caro o barato según supere o no la mediana de precios de su distrito.

In [41]:
for i, row in venta.iterrows():
    venta.at[i, 'venta'] = tipo_precio(row.precio, row.mediana)

print(venta[(venta.distrito == 'Tetuán')])

     distrito   ano  quarter       precio      mediana   venta
16     Tetuán  2001        1  2063.825020  3227.767592  barato
37     Tetuán  2001        2  2254.026720  3227.767592  barato
58     Tetuán  2001        3  2287.169543  3227.767592  barato
79     Tetuán  2001        4  2321.009574  3227.767592  barato
100    Tetuán  2002        1  2474.372011  3227.767592  barato
...       ...   ...      ...          ...          ...     ...
1381   Tetuán  2017        2  3022.064288  3227.767592  barato
1402   Tetuán  2017        3  3073.203746  3227.767592  barato
1423   Tetuán  2017        4  3150.590133  3227.767592  barato
1444   Tetuán  2018        1  3411.186852  3227.767592    caro
1465   Tetuán  2018        2  3557.922318  3227.767592    caro

[68 rows x 6 columns]